<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 全局配置 -->
    <settings>
        <!-- 开启全局缓存 -->
        <setting name="cacheEnabled" value="true"/>
        <!-- 允许JDBC支持自动生成主键 -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 配置默认的执行器：SIMPLE为普通执行器；REUSE执行器会重用预处理语句；BATCH执行器将重用语句并执行批量更新 -->
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- Mybatis打印日志 -->
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
        <!-- 开启自动转化驼峰命名规则配置 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 插件 -->
    <!-- <plugins> -->
    <!--     &lt;!&ndash; Mybatis分页插件，此处若是在进行pagehelper的插件配置会导致加载两遍 &ndash;&gt; -->
    <!--     <plugin interceptor="com.github.pagehelper.PageInterceptor"/> -->
    <!-- </plugins> -->

</configuration>